{% extends 'base.html' %}

{% block content %}
<h2>Bookings</h2>
<nav><a href="/bookings/new">Create a new Booking</a></nav>

<h3>Recent Bookings:</h3>
<table border="1" class="table">
    <tr>
        <th>Name</th>

        <th>Date</th>

        <th>Time</th>

        <th>Member Name</th>

    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.session.name }} </td>

        <td>{{ booking.session.date }}</td>

        <td>{{ booking.session.time }}</td>

        <td>{{ booking.member.name }}</td>

        <td><form action="/bookings/{{ booking.id }}/delete" method="POST">
            <input type="submit" value="Cancel"></td>
    </tr>
{% endfor %}
</table>
{% endblock %}