{% extends "base.html" %}
{% block content %}
<h3>Edit Member Details</h3>
<form action="/members/{{ member.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member.name }}">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ member.age }}">
        <label for="membership">Membership Level:</label>
        <select name="membership" id="membership">
            <option value="Premium" {% if member.membership %} selected="selected" {% endif %}>Premium</option>
            <option value="Standard" {% if not member.membership %} selected="selected" {% endif %}>Standard</option>
        </select>
        <label for="status">Status:</label>
        <select name="status" id="status">
        <option value="true" {% if member.status %} selected="selected" {% endif %}>Active</option>
        <option value="false" {% if not member.status %} selected="selected" {% endif %}>Inactive</option></select>
        <input type="submit">
    </div>
</form>
{% endblock %}
