{% extends "base.html" %}
{% block content %}

<h2>Add a new Member</h2>

<form action="/members" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age">
        <label for="membership">Membership Level:</label>
        <select name="membership" id="membership">
            <option value="Premium">Premium</option>
            <option value="Standard">Standard</option></select>     
        <label for="status">Status:</label>
        <select name="status" id="status">
        <option value="true">Active</option>
        <option value="false">Inactive</option></select>
        <input type="submit">
    </div>
</form>
{% endblock %}