{% extends 'base.html' %}

{% block content %}

<section>
    <h3>Member Profile:</h3>
    <ul>
    <li>Name: {{ member.name }}</li>
    <li>Age: {{ member.age }}</li>
    <li>Membership Type: {{ member.membership }}</li>
    <li>{% if member.status == True %}
    Membership Status: Active
    {% else %}
    Membership Status: Inactive
    {% endif %}</li>
    </ul>
</section>

<section>
<h3>Attending Sessions:</h3>
<table border="1" class="table">
    <tr>
        <th>Name</th>

        <th>Date</th>

        <th>Time</th>

        <th>Duration</th>
    </tr>
    {% for session in sessions %}
    <tr>
        <td>{{ session.name }}</td>

        <td>{{ session.date }}</td>

        <td>{{ session.time }}</td>

        <td>{{ session.duration }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}